<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教师端</title>
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/bootstrap-maizi.css" rel="stylesheet">
    <link href="__STATIC__/css/common.css" rel="stylesheet">
</head>
<body>
<!--顶部导航-->
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--小屏幕导航按钮和logo-->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="cindex.html" class="navbar-brand">扎职学院</a><span class="nnnn"> </span>
            </div>
            <!--小屏幕导航按钮和logo-->

            <!--导航-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {include file="public/top"/}

                    <!--<li><a href="#course">最新课程</a></li>-->
                    <!--<li><a href="#app">移动APP</a></li>-->
                    <!--<li><a href="#contact">联系我们</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>



<!--搜寻区域-->
<div class="container-fluid " style="margin-top: 60px">
    <form  class="form-horizontal" action="{:url('Search/index')}" method="post">

        <div class="form-group ">
            <div class="col-xs-3" style="margin:5px 0px 0px 0px">
                <label  class=" control-label">宿舍</label>

            </div>

            <div  class="col-xs-9">
                <select name="sushe" class="form-control ">
                    <option value="">无限制</option>

                    {volist name="sushe" id="vo"}
                    <option value="{$vo.sushe}">{$vo.sushe}</option>
                    {/volist}
                </select>
            </div>

        </div>
        <div class="form-group ">
            <div class="col-xs-3" style="margin:5px 0px 0px 0px">
                <label class=" control-label">性别</label>

            </div>

            <div  class="col-xs-9">
                <select name="sex"  class="form-control ">
                    <option value="">无限制</option>
                    <option value=1>男</option>
                    <option value=0>女</option>

                </select>
            </div>

        </div>
        <div class="form-group ">
            <div class="col-xs-3" style="margin:5px 0px 0px 0px">
                <label  class=" control-label">?请假？</label>

            </div>

            <div  class="col-xs-9">
            <select name="is_va" class="form-control ">
                <option value="">无限制</option>
                <option value=1>有假</option>
                <option value=0 >无假</option>
                <option value=2 >长假</option>

            </select>
                </div>
        </div >
            <div class="form-group ">
                <div class="col-xs-3" style="margin:5px 0px 0px 0px">
                    <label  class=" control-label">走/住</label>
                </div>

                <div  class="col-xs-9">

                    <select name="iswalk" class="form-control">
                        <option value="">无限制</option>

                        <option value="0">住宿</option>
                        <option value="1">走读</option>
                    </select>
                </div>

            </div>

            <div class="col-xs-3" style="margin:5px 0px 0px 0px">


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">确定</button>
            </div>
        </div>

    </form>
</div>
<!--搜寻结果区域-->
<div class="container-fluid " style="margin-bottom: 20%;align-items: center">
    <table class="table .table-bordered ">
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>宿舍</th>
            <th>住宿</th>
            <th>请假</th>
            <th>详情</th>
        </tr>

        {volist name="stu" id="vo"}
        <tr>
            <td>{$vo.photo}</td>
            <td>{$vo.name}</td>
            <td>{$vo.sushe}</td>
            <td>{$vo.iswalk}</td>
            <td>{$vo.is_va}</td>
            <td><a href=" {:url('Search/edt')}.?id={$vo.id}">详情</a></td>

        </tr>
        {/volist}



<!--底部导航模板-->


        {include file="public/button"/}







        <script src="__STATIC__/js/jquery-1.11.0.min.js"></script>

<script src="__STATIC__/js/butdaohang.js"></script>


<script src="__STATIC__/js/carousel.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>
</body>
</html>