<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生科</title>
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/bootstrap-maizi.css" rel="stylesheet">
    <link href="__STATIC__/css/common.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="margin-top: 60px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--小屏幕导航按钮和logo-->
            <div class="navbar-header">
                <a  class="navbar-brand">扎职学院</a><span class="nnnn"></span>
            </div>
            <!--小屏幕导航按钮和logo-->
        </div>
    </nav>
</div>

<div class="container-fluid">
    <form action="{:url('Login/assite')}" method="post">
        <div class="form-group">
            <label >账号</label>
            <input type="text" class="form-control"  placeholder="账号" name="zhanghao">
        </div>
        <div class="form-group">
            <label >密码</label>
            <input type="password" class="form-control" placeholder="密码" name="pwd">
        </div>
        <div>
            注册码
        </div>

        <button type="submit" class="btn btn-default center-block ">确定</button>
    </form>
</div>


<div class="main_nav_bottom">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" align="center" >
            <ul class="nav nav-tabs nav-tabs-justified">
                <div class="row" align="center">
                    <div class="col-md-6 col-sm-6 col-xs-6 " align="center"><li><a href="{:url('login/login')}">负责人</a></li></div>

                    <div class="col-md-6 col-sm-6 col-xs-6 " align="center"><li><a href="{:url('login/assite')}">其他管理员</a></li></div>

                </div>
            </ul>
        </div>
    </nav>
</div>


</body>
<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
<script src="__STATIC__/js/carousel.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>

</body>
</html>