<div class="main_nav_bottom">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" align="center" >
            <!--<style>-->
            <!--.nav-tabs-->
            <!--{-->
            <!--text-align: center;-->
            <!--height: 40px;-->
            <!--line-height: 40px;-->
            <!--}-->
            <!--</style>-->
            <ul class="nav nav-tabs nav-tabs-justified">
                <div class="row" align="center">
                    <div class="col-md-3 col-sm-3 col-xs-3 " align="center"><li><a href="{:url('index/index')}">详情</a></li></div>

                    <div class="col-md-3 col-sm-3 col-xs-3 " align="center"><li><a href="{:url('search/index')}">搜索</a></li></div>
                    <div class="col-md-3 col-sm-3 col-xs-3 s_3" align="center"><li><a href="{:url('add/index')}">添加</a></li></div>
                    <div class="col-md-3 col-sm-3 col-xs-3 s_4" align="center"><li><a href="{:url('Note/index')}">管理员</a></li></div>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>

<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>

<script src="__STATIC__/js/butdaohang.js"></script>

<script src="__STATIC__/js/carousel.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>

