<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>学生端</title>
    <!--<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" />
    <link href="__STATIC__/css/bootstrap-maizi.css" rel="stylesheet">
    <!--<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__STATIC__/time/css/material.min.css" />
    <link href="__STATIC__/css/common.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" href="__STATIC__/time/css/bootstrap-material-datetimepicker.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="__STATIC__/time/css/default.css">

</head>
<body>

<div class="container-fluid">
    <form action="{:url('check')}" method="post">
        <div class="form-group">
            <label >账号</label>
            <input type="text" class="form-control"  placeholder="班级账号" name="zhanghao">
        </div>
        <button type="submit" class="btn btn-default center-block ">确定</button>
    </form>
</div>








<script src="__STATIC__/time/js/jquery-2.1.1.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<script src="__STATIC__/js/carousel.js"></script>
<!--<script src="__STATIC__/js/bootstrap.js"></script>-->
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/time/js/bootstrap-material-datetimepicker.js"></script>
<script type="text/javascript" src="__STATIC__/time/js/material.min.js"></script>
<script type="text/javascript" src="__STATIC__/time/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="__STATIC__/time/js/bootstrap-material-datetimepicker.js"></script>




</body>
</html>
